<div id="settings_panel" class="display_area_content display_none">
    <h2>Settings</h2>
    <div class="row">
        <div class="variable">
            <div class="name">Project Name</div>
        </div>

        <div class="value">
            <input type="text" id="_via_settings.project.name" />
        </div>
    </div>

    <div class="row">
        <div class="variable">
            <div class="name">Default Path</div>
            <div class="desc">If all images in your project are saved in a single folder, set the default
                path to the location of this folder. The VIA application will load images from this folder
                by default. Note: a default path of <code>"./"</code> indicates that the folder containing
                <code>via.html</code> application file also contains the images in this project. For
                example: <code>/datasets/VOC2012/JPEGImages/</code> or
                <code>C:\Documents\data\</code>&nbsp;<strong>(note the trailing <code>/</code> and
                    <code>\</code></strong>)
            </div>
        </div>

        <div class="value">
            <input type="text" id="_via_settings.core.default_filepath"
                placeholder="/datasets/pascal/voc2012/VOCdevkit/VOC2012/JPEGImages/" />
        </div>
    </div>

    <div class="row">
        <div class="variable">
            <div class="name">Search Path List</div>
            <div class="desc">If you define multiple paths, all these folders will be searched to find
                images in this project. We do not recommend this approach as it is computationally expensive
                to search for images in multiple folders. <ol id="_via_settings.core.filepath"></ol>
            </div>
        </div>

        <div class="value">
            <input type="text" id="settings_input_new_filepath"
                placeholder="/datasets/pascal/voc2012/VOCdevkit/VOC2012/JPEGImages" />
        </div>
    </div>

    <div class="row">
        <div class="variable">
            <div class="name">Region Label</div>
            <div class="desc">By default, each region in an image is labelled using the region-id. Here, you
                can select a more descriptive labelling of regions.</div>
        </div>

        <div class="value">
            <select id="_via_settings.ui.image.region_label"></select>
        </div>
    </div>

    <div class="row">
        <div class="variable">
            <div class="name">Region Colour</div>
            <div class="desc">By default, each region is drawn using a single colour. Using this setting,
                you can assign a unique colour to regions grouped according to a region attribute.</div>
        </div>

        <div class="value">
            <select id="_via_settings.ui.image.region_color"></select>
        </div>
    </div>

    <div class="row">
        <div class="variable">
            <div class="name">Region Label Font</div>
            <div class="desc">Font size and font family for showing region labels.</div>
        </div>

        <div class="value">
            <input id="_via_settings.ui.image.region_label_font" placeholder="12px Arial" />
        </div>
    </div>

    <div class="row">
        <div class="variable">
            <div class="name">Preload Buffer Size</div>
            <div class="desc">Images are preloaded in buffer to allow smoother navigation of next/prev
                images. A large buffer size may slow down the overall browser performance. To disable
                preloading, set buffer size to 0.</div>
        </div>
        <div class="value">
            <input type="text" id="_via_settings.core.buffer_size" />
        </div>
    </div>

    <div class="row">
        <div class="variable">
            <div class="name">On-image Annotation Editor</div>
            <div class="desc">When a single region is selected, the on-image annotation editor is gets
                activated which the user to update annotations of this region. By default, this on-image
                annotation editor is placed near the selected region.</div>
        </div>

        <div class="value">
            <select id="_via_settings.ui.image.on_image_annotation_editor_placement">
                <option value="NEAR_REGION">close to selected region</option>
                <option value="IMAGE_BOTTOM">at the bottom of image being annotated</option>
                <option value="DISABLE">DISABLE on-image annotation editor</option>
            </select>
        </div>
    </div>

    <div class="row" style="border:none;">
        <button onclick="settings_save()" value="save_settings" style="margin-top:2rem">Save</button>
        <button onclick="settings_panel_toggle()" value="cancel_settings" style="margin-left:2rem;">Cancel</button>
    </div>
</div> <!-- end of settings panel -->